.category {
  background: #fff;
  position: relative;
  box-shadow: 5px 6px 5px rgba(0, 0, 0, 0.5);
  margin: 20px 20px;
  table {
    td,
    th {
      padding: 5px;
      height: 50px;
      overflow: auto;
      word-wrap: break-word;
    }
    td {
      font-size: 12px;
    }
    tr {
      border: 1px solid #ddd;
    }
    tr:hover {
      background: #ddd;
      cursor: pointer;
    }
    td.overflow {
      padding: 0;
      div {
        width: 100px;
        padding: 10px;
        overflow: auto;
        text-align: center;
      }
    }
    td.manipulate {
      width: 100px;
    }
  }
  .handle {
    background-color: #eee;
    width: 200px;
    height: auto;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    .update {
      background-color: #00ae68;
      border: 0;
      outline: 0;
      color: #fff;
      height: 26px;
      width: 100px;
      box-sizing: border-box;
      font-size: 18px;
      border-radius: 4px;
      cursor: pointer;
      transition: all 0.1s;
      -o-transition: all 0.1s;
      -webkit-transition: all 0.1s;
      -moz-transition: all 0.1s;
    }
    .update:hover {
      background-color: rgba(255, 255, 255, 0);
      border: 2px solid #00ae68;
      color: #00ae68;
    }
  }
}
