#bg.ng-enter {
  -webkit-animation: 0.5s fadeIn;
  -moz-animation: 0.5s fadeIn;
  -o-animation: 0.5s fadeIn;
  animation: 0.5s fadeIn;
  z-index: 95;
}
#bg.ng-leave{
  -webkit-animation: 0.5s fadeOut;
  -moz-animation: 0.5s fadeOut;
  -o-animation: 0.5s fadeOut;
  animation: 0.5s fadeOut;
  z-index: 95;
}

// .ng-hide-remove {
//   -webkit-animation: 1s fadeInDown;
//   -moz-animation: 1s fadeInDown;
//   -o-animation: 1s fadeInDown;
//   animation: 1s fadeInDown;
//   z-index: 10;
// }
// .ng-hide-add {
//   -webkit-animation: 1s fadeOut;
//   -moz-animation: 1s fadeOut;
//   -o-animation: 1s fadeOut;
//   animation: 1s fadeOut;
//   z-index: 10;
// }
.search .bg.ng-hide-remove {
  -webkit-animation: 0.7s fadeIn;
  -moz-animation: 0.7s fadeIn;
  -o-animation: 0.7s fadeIn;
  animation: 0.7s fadeIn;
  z-index: 95;
}

.search .ng-hide-remove {
  -webkit-animation: 0.7s bounceInDown;
  -moz-animation: 0.7s bounceInDown;
  -o-animation: 0.7s bounceInDown;
  animation: 0.7s bounceInDown;
  z-index: 95;
}

.search .ng-hide-add {
  -webkit-animation: 0.7s bounceOutUp;
  -moz-animation: 0.7s bounceOutUp;
  -o-animation: 0.7s bounceOutUp;
  animation: 0.7s bounceOutUp;
  z-index: 95;
}

.more-search.ng-hide-remove{
  -webkit-animation: 0.7s fadeInDown;
  -moz-animation: 0.7s fadeInDown;
  -o-animation: 0.7s fadeInDown;
  animation: 0.7s fadeInDown;
  z-index: 95;
}
.more-search.ng-hide-add{
  -webkit-animation: 0.7s fadeOutUp;
  -moz-animation: 0.7s fadeOutUp;
  -o-animation: 0.7s fadeOutUp;
  animation: 0.7s fadeOutUp;
  z-index: 95;
}
// .ng-enter {
//   -webkit-animation: 0.5s fadeInDown;
//   -moz-animation: 0.5s fadeInDown;
//   -o-animation: 0.5s fadeInDown;
//   animation: 0.5s fadeInDown;
//   z-index: 95;
// }

// .ng-leave {
//   -webkit-animation: 0.5s fadeOutUp;
//   -moz-animation: 0.5s fadeOutUp;
//   -o-animation: 0.5s fadeOutUp;
//   animation: 0.5s fadeOutUp;
//   z-index: 95;
// }


.course-table {
  .detail.ng-hide-remove {
    -webkit-animation: 0.5s bounceIn;
    -moz-animation: 0.5s bounceIn;
    -o-animation: 0.5s bounceIn;
    animation: 0.5s bounceIn;
    z-index: 10;
  }
  .detail-bg.ng-hide-remove,.qrcode-bg.ng-hide-remove{
    -webkit-animation: 0.5s fadeIn;
    -moz-animation: 0.5s fadeIn;
    -o-animation: 0.5s fadeIn;
    animation: 0.5s fadeIn;
    z-index: 10;
  }
  .detail-bg.ng-hide-add,.qrcode-bg.ng-hide-add{
    -webkit-animation: 0.5s fadeOut;
    -moz-animation: 0.5s fadeOut;
    -o-animation: 0.5s fadeOut;
    animation: 0.5s fadeOut;
    z-index: 10;
  }
  .detail.ng-hide-add {
    -webkit-animation: 0.5s bounceOut;
    -moz-animation: 0.5s bounceOut;
    -o-animation: 0.5s bounceOut;
    animation: 0.5s bounceOut;
    z-index: 10;
  }
}

.content {
  .handle.ng-hide-remove {
    -webkit-animation: 0.5s bounceIn;
    -moz-animation: 0.5s bounceIn;
    -o-animation: 0.5s bounceIn;
    animation: 0.5s bounceIn;
    z-index: 10;
  }
  .handle.ng-hide-add {
    -webkit-animation: 0.5s bounceOut;
    -moz-animation: 0.5s bounceOut;
    -o-animation: 0.5s bounceOut;
    animation: 0.5s bounceOut;
    z-index: 10;
  }
  .handle-bg.ng-hide-remove {
    -webkit-animation: 0.5s fadeIn;
    -moz-animation: 0.5s fadeIn;
    -o-animation: 0.5s fadeIn;
    animation: 0.5s fadeIn;
    z-index: 10;
  }
  .handle-bg.ng-hide-add {
    -webkit-animation: 0.5s fadeOut;
    -moz-animation: 0.5s fadeOut;
    -o-animation: 0.5s fadeOut;
    animation: 0.5s fadeOut;
    z-index: 10;
  }
}

.forum{
  .ng-hide-remove{
    -webkit-animation: 0.5s fadeIn;
    -moz-animation: 0.5s fadeIn;
    -o-animation: 0.5s fadeIn;
    animation: 0.5s fadeIn;
    z-index: 10;
  }
  .ng-hide-add{
    -webkit-animation: 0.5s fadeOut;
    -moz-animation: 0.5s fadeOut;
    -o-animation: 0.5s fadeOut;
    animation: 0.5s fadeOut;
    z-index: 10;
  }
}
