$bg-color: rgba(255, 255, 255, 0.5);
$border-color: rgba(255, 255, 255, 0.25);
$font-color: rgba(255, 255, 255, 0.7);
.course-table{
    margin-left: 20px;
    margin-right: 20px;
    height: auto;
    background: $bg-color;
}
.course-table{
    .head{

    }
    .body{
        table{
            width: 100%;
        }
        table{
            #counter{
                width:10%;
            }
            td[line="4"]{
                border-bottom:2px solid $font-color;
            }
            td[line="9"]{
                border-bottom:2px solid $font-color;
            }
            td[line="12"]{
                border-bottom:0;
            }
            td{
                border: 2px solid $border-color;
                text-align: center;
                color: $font-color;
                height: 40px;
                width: 15%;
            }
            td[row="left"],th[row="left"]{
                border-left:0;
            }
            th{
                border-top:0 !important;
            }
            td[row="right"],th[row="right"]{
                border-right:0;
            }
            td[ng-mouseover]{
                cursor: pointer;
            }
            .double1,.triple1,.fourfold1{
                border-bottom:0;
            }
            .double2,.triple3,.fourfold4{
                border-top:0;   
            }
            .triple2,.fourfold2,.fourfold3{
                border-bottom:0;
                border-top:0;
            }
            th{
                border: 2px solid $border-color;
                border-bottom:2px solid $border-color;
                height: 30px;
                line-height: 30px;
                color: $font-color;
            }
        }
    }
}