<div class="content" ng-controller="allController">
  <div ng-repeat="category in data track by $index" class="category">
    <h1>{{category.name}}</h1>
    <table>
      <thead>
        <th>选课序号</th>
        <th>课程名称</th>
        <th>学分</th>
        <th>教师</th>
        <th>职称</th>
        <th>人数</th>
        <th>教室</th>
        <th>时间</th>
        <th>备注</th>
      </thead>
      <tbody>
        <tr ng-repeat="course in category.courses track by $index" ng-click="showHandle()">
          <td>
            <div>{{course['选课序号']}}</div>
          </td>
          <td>
            <div>{{course['课程名称']}}</div>
          </td>
          <td>
            <div>{{course['学分']}}</div>
          </td>
          <td class="overflow">
            <div>{{course['教师']}}</div>
          </td>
          <td class="overflow">
            <div>{{course['职称']}}</div>
          </td>
          <td>
            <div>{{course['人数']}}</div>
          </td>
          <td>
            <div>{{course['教室']}}</div>
          </td>
          <td>
            <div>{{course['时间'] | timeFilter}}</div>
          </td>
          <td class="overflow">
            <div>{{course['备注']||'无'}}</div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="handle-bg" ng-click="closeHandle()" ng-show="category.handleIsShow">
      <div class="handle" ng-show="category.handleIsShow" style="{{category.handle.position}}">
      <p class="name">{{category.handle.name}}</p><p class="teacher">{{category.handle.teacher}}</p>
        <button class="update" ng-click="update()" ng-class="{true: 'isInCourseTable'}[category.handle.isInCourseTable]" ng-disabled="category.handle.isInCourseTable">{{category.handle.text1}}</button>
        <button class="box" ng-click="addIntoBox()" ng-class="{true: 'isInCollection'}[category.handle.isInCollection]" ng-disabled="category.handle.isInCollection">{{category.handle.text2}}</button>
      </div>
    </div>
  </div>
</div>
