<div ng-include="'./html/sidebar.html'" class="sidebar"></div>
<div ng-include="'./html/search.html'" class="search"></div>
<div class="content" ng-controller="allController">
  <div ng-repeat="category in data track by $index">
    <h1>{{category.name}}</h1>
    <table>
      <thead>
        <th>选课序号</th>
        <th>课程名称</th>
        <th>学分</th>
        <th>教师</th>
        <th>职称</th>
        <th>人数</th>
        <th>教室</th>
        <th>时间</th>
        <th>备注</th>
        <th>考试时间</th>
      </thead>
      <tbody>
        <tr ng-repeat="course in category.courses track by $index">
          <td>{{course['选课序号']}}</td>
          <td>{{course['课程名称']}}</td>
          <td>{{course['学分']}}</td>
          <td>{{course['教师']}}</td>
          <td>{{course['职称']}}</td>
          <td>{{course['人数']}}</td>
          <td>{{course['教室']}}</td>
          <td>{{course['时间']}}</td>
          <td>{{course['备注']}}</td>
          <td>{{course['考试时间']}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
