<div class="content" ng-controller="forumController">
  <div class="forum">
    <div class="searchbox">
      <i class="iconfont icon-search"></i>
      <input type="text" class="forum-search" placeholder="课程名称/老师姓名" ng-change="search()" ng-model="keywords">
    </div>
    <div class="course-info">
      <div class="info">
        <p class="name">高等数学A</p>
        <p class="teacher">陈纪修</p>
        <p class="rank">3.5</p>
      </div>
      <div class="rank-info">
        <p>2人评价</p>
        <table>
          <tr>
            <td>
              <font>★★★★★</font>
            </td>
            <td>1人</td>
          </tr>
          <tr>
            <td>
              <font>★★★★</font>★</td>
            <td>1人</td>
          </tr>
          <tr>
            <td>
              <font>★★★</font>★★</td>
            <td>1人</td>
          </tr>
          <tr>
            <td>
              <font>★★</font>★★★</td>
            <td>1人</td>
          </tr>
          <tr>
            <td>
              <font>★</font>★★★★</td>
            <td>1人</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="comment">
      <div class="cover" ng-click="showComment()" ng-class="{'comment-open':commentShow}">
        <p>{{commentTitle}}</p>
        <button ng-hide="commentShow">+</button>
      </div>
      <div class="comment-box" ng-show="commentShow">
        <div class="body">
          <div>
            <p class="name">高等数学A</p>
            <p class="teacher">陈纪修</p>
          </div>
          <textarea placeholder="说点什么吧..." id="" cols="30" rows="10" required></textarea>
          <button class="submit">提交</button>
        </div>
      </div>
    </div>
    <div class="livecomment" ng-hide="isSearch">
      <div class="head">近期评论</div>
      <div class="body">
        <div class="item" ng-click="open()">
          <p class="name">数学分析A</p>
          <p class="teacher">陈纪修</p>
          <p class="rank">4.5</p>
          <p class="abstract">这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论...</p>
          <p class="time">2015.12.18</p>
        </div>
        <div class="item" ng-click="open()">
          <p class="name">数学分析A</p>
          <p class="teacher">陈纪修</p>
          <p class="rank">4.5</p>
          <p class="abstract">这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论...</p>
          <p class="time">2015.12.18</p>
        </div>
        <div class="item" ng-click="open()">
          <p class="name">数学分析A</p>
          <p class="teacher">陈纪修</p>
          <p class="rank">4.5</p>
          <p class="abstract">这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论...</p>
          <p class="time">2015.12.18</p>
        </div>
        <div class="item" ng-click="open()">
          <p class="name">数学分析A</p>
          <p class="teacher">陈纪修</p>
          <p class="rank">4.5</p>
          <p class="abstract">这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论...</p>
          <p class="time">2015.12.18</p>
        </div>
        <div class="item" ng-click="open()">
          <p class="name">数学分析A</p>
          <p class="teacher">陈纪修</p>
          <p class="rank">4.5</p>
          <p class="abstract">这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论...</p>
          <p class="time">2015.12.18</p>
        </div>
        <div class="item" ng-click="open()">
          <p class="name">数学分析A</p>
          <p class="teacher">陈纪修</p>
          <p class="rank">4.5</p>
          <p class="abstract">这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论...</p>
          <p class="time">2015.12.18</p>
        </div>
        <div class="item" ng-click="open()">
          <p class="name">数学分析A</p>
          <p class="teacher">陈纪修</p>
          <p class="rank">4.5</p>
          <p class="abstract">这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论...</p>
          <p class="time">2015.12.18</p>
        </div>
        <div class="item" ng-click="open()">
          <p class="name">数学分析A</p>
          <p class="teacher">陈纪修</p>
          <p class="rank">4.5</p>
          <p class="abstract">这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论...</p>
          <p class="time">2015.12.18</p>
        </div>
        <div class="item" ng-click="open()">
          <p class="name">数学分析A</p>
          <p class="teacher">陈纪修</p>
          <p class="rank">4.5</p>
          <p class="abstract">这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论这是评论...</p>
          <p class="time">2015.12.18</p>
        </div>
      </div>
    </div>
    <div class="search-result" ng-show="isSearch">
      <div class="head">搜索结果</div>
      <div class="body">
        <div class="item">
          <p class="name">数学分析A</p>
          <p class="teacher">陈纪修</p>
          <p class="rank">4.5</p>
        </div>
        <div class="item">
          <p class="name">数学分析A</p>
          <p class="teacher">陈纪修</p>
          <p class="rank">4.5</p>
        </div>
        <div class="item">
          <p class="name">数学分析A</p>
          <p class="teacher">陈纪修</p>
          <p class="rank">4.5</p>
        </div>
      </div>
    </div>
  </div>
</div>
