<div ng-controller="sidebarController">
  <ul>
  <img src="./build/img/logo.png" class="logo">
    <li class="title">复旦选课助手</li>
    
    <li class="li" ng-class="{active:active.mainIsActive}"><i class="iconfont icon-table"></i><a ng-click="changeURL('/main/')">我的课表</a></li>
    <li class="li" ng-class="{active:active.collectionIsActive}"><i class="iconfont icon-collection"></i><a ng-click="changeURL('/collection/')">收藏夹</a></li>
    <li class="li" ng-click="showSearch()"><i class="iconfont icon-search"></i>搜索</li>
    <li class="li" ng-class="{active:active.allIsActive}"><i class="iconfont icon-list"></i><a ng-click="changeURL('/all/')">所有课程</a></li>
  </ul>
</div>



